.button {
	@include reset-btn;
	position: fixed;
	bottom: rem(40);
	right: rem(40);
	font-weight: 900;
	font-size: rem(24);
	background: var(--white);
	border-radius: rem(15);
	padding: rem(9) rem(20);
}
