.card {
	display: flex;
	flex-direction: column;
	gap: rem(12);
	&__pic {
		overflow: hidden;
		border-radius: rem(10);
	}
	&__img {
		width: 100%;
	}
	&__title {
		font-size: rem(22);
		font-weight: 900;
	}
	&__description {
		font-size: rem(14);
	}
}
